/* Create a Header Component from scratch using Functional Components with JSX: 
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.Logo-icon{
    background-color: #219c21;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
}
.searchbar{
    width: 30%;
    display: flex;
}
.searchbar input{
    appearance: none;
    border: 2px solid #219c21;
    border-radius: 20px;
    width: 100%;
    height: 50px;
    padding: 0 10px;
}
.user-icon{
    right: 1rem;
    position: relative;
    padding: 13px 16px;
    font-weight: 700;
    color: #fff;
    background-color: #219c21;
    border-radius: 50%;
    border: 1px solid #000;
} */

/* Create a Food Application */

.resto-header{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    border: 1px solid #000;
}

.Navbar-container ul {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.Navbar-container ul li{
    font-size: 18px;
    list-style-type: none;
    margin: 0 15px;
}
.Navbar-container ul li a{
    text-decoration: none;
    color: #000;
}
.restocard-container,.shimmer-container{
    display: flex;
    flex-wrap: wrap; /* allows cards to wrap to the next line */
    gap: 10px;        /* optional spacing between cards */
}
.shimmer-cards{
    width: 150px;
    height: 400px;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 5px;
}

.card{
    width: 150px;
    height: auto;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    margin: 5px;
}
.card img{
    width: 100%;
    border-radius: 8px;
}
.card .name, .city{
    font-weight: bold;
}
.filter-btn{
    width: 200px;
    height: 30px;
    background-color: rgb(20, 20, 22);
    color: aliceblue;
    border-radius: 8px;
    margin: 10px 0;
    cursor: pointer;
}
.shimmer-button{
    width: 200px;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin: 10px 0;
}

.filter-btn:hover{
    background-color: aquamarine;
    color: #000;
}
.search-container{
    padding-top: 10px;
}
.input{
    border: 1px solid orange;
    border-radius: 8px;
    height: 40px;
    width: 10%;
}
.login{
    height: 30px;
    background-color: #131813;
    color: antiquewhite;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
.login:focus{
    background-color: antiquewhite;
    color: #131613;
}
/* About User Page  */

.user-card{
    border: 2px solid #000;
    background-color: #f9f9f9;
    width: 250px;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}
.name{
    font-size: 20px;
    color: #219c21;
}

.location{
    font-size: 18px;
    color: #555;
}
.contact{
    font-size: 16px;
    color: #888;
}
