@import "tailwindcss";


@layer components{
    .card{
        @apply w-60 p-3 bg-pink-100 rounded-lg ;
    }
    .button{
        @apply px-4 cursor-pointer bg-gray-700 text-amber-50 p-2 rounded-md items-center;
    }
}


