/* Create a Header Component from scratch using Functional Components with JSX: 
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.Logo-icon{
    background-color: #219c21;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
}
.searchbar{
    width: 30%;
    display: flex;
}
.searchbar input{
    appearance: none;
    border: 2px solid #219c21;
    border-radius: 20px;
    width: 100%;
    height: 50px;
    padding: 0 10px;
}
.user-icon{
    right: 1rem;
    position: relative;
    padding: 13px 16px;
    font-weight: 700;
    color: #fff;
    background-color: #219c21;
    border-radius: 50%;
    border: 1px solid #000;
} */

/* Create a Food Application */

.resto-header{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    border: 1px solid #000;
}
.Navbar-container ul {
    display: flex;
    padding: 10px;
    margin: 10px;
}
.Navbar-container ul li{
    font-size: 18px;
    list-style-type: none;
    margin: 0 15px;
}
.restocard-container{
    display: flex;
}
.card{
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    margin: 5px;
}
.card img{
    width: 100%;
    border-radius: 8px;
}